.sl-badge.core {
  background-color: var(--sl-color-green-low);
  border-color: var(--sl-color-green);
  color: var(--sl-color-green-high);
}

.sl-badge.optional {
  background-color: var(--sl-color-blue-low);
  border-color: var(--sl-color-blue);
  color: var(--sl-color-blue-high);
}