name: Continous Integration
on:
  push:
  workflow_dispatch:
jobs:
  check-links:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Lychee Broken Link Checker
      uses: lycheeverse/lychee-action@v1.8.0
      with:
        fail: true

